@model BoardGame.Models.GameModel;
@{
    ViewData["Title"] = "GamePage";
}
@section Styles {
    <link rel="stylesheet" href="~/css/dice.css" />
}
@section Scripts {
    
    <script src="~/js/game.js" type="module"></script>
}
<h1>Hello @ViewBag.UserName. Game On</h1>
@if(Model.OwnerId == ViewBag.UserId)
{
    if(!Model.IsStarted && !Model.IsEnded)
    {
         <input id="start" type="button" value="Start Game" class="btn btn-primary" />   
    }
}
<hr/>
<h1 id="status"></h1>
<hr/>
<div id="game">
    <button id="throwDices" type="button" class="btn btn-primary" 
        disabled="@(!Model.IsStarted || Model.ActivePlayer.Id != ViewBag.UserId)">Throw Dices</button> 
    <hr/>
    <div id="infoContainer">
        <div id="dice1" class="dice">
            <div class="e1"></div>
            <div class="e2"></div>
            <div class="e3"></div>
            <div class="e4"></div>
            <div class="e5"></div>
            <div class="e6"></div>
            <div class="e7"></div>
        </div>
        <div id="dice2" class="dice">
            <div class="e1"></div>
            <div class="e2"></div>
            <div class="e3"></div>
            <div class="e4"></div>
            <div class="e5"></div>
            <div class="e6"></div>
            <div class="e7"></div>
        </div>
        <div id="messages">
        </div>
    </div>
    <hr class="clear"/>
    <div id="board"></div>
    <hr/>
    
</div>
<input type="hidden" id="gameId" value="@Model.Id" />
<input type="hidden" id="userId" value="@ViewBag.UserId" />
<input type="hidden" id="userName" value="@ViewBag.UserName" />
<input type="hidden" id="userColor" value="@ViewBag.UserColor" />
